<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <img src="img_girl.jpg" alt="img_girl" width="200">
      </div>
    </div>
    <div class="col">
      <h5 style="color:blue">name : Nontiwa</h5>
      <h5 style="color:darkblue">surname : Buathong</h5>
      <h5 style="color:pink">address : Thailand</h5>
    </div>
    <div class="col">
      <h1 style="color:blueviolet">{{list}}</h1>
      <ul>
        <li style="color:green" *ngFor="let x of nums">{{x.firstname}} {{x.lastname}}<br>{{x.address}}</li>
      </ul>
    </div>
  </div>
</div>